
* {
 font-family: Arial, Helvetica, sans-serif;
}


h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

#mt_message,
#count_message {
    font-family: Arial, Helvetica, sans-serif;
}

.btn-upload {
    color: white;
    background-color: #4292c6;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.btn-upload:hover {
    color: white;
    background-color: #08519c;
}


.btn-compute {
    color: white;
    background-color: #41ab5d;
    width: 100%;
}

.btn-compute:hover {
    color: white;
    background-color: #006d2c;
}

.btn-compute-2 {
    color: white;
    background-color: #41ab5d;
    margin-top: 25px; 
    float: right; 
    margin-right: 5px;
}

.btn-compute-2:hover {
    color: white;
    background-color: #006d2c;
}


.btn-plot {
    color: white;
    background-color: #807dba;
    margin-top: 25px; 
    float: right; 
    margin-right: 5px;
}

.btn-plot:hover {
    color: white;
    background-color: #6a51a3;
}

.shiny-download-link {
    color: white;
    background-color: #807dba;
}

.shiny-download-link:hover {
    color: white;
    background-color: #6a51a3;
}


